/*******************************/
/* BELOW 1300PX (SMALLER DESKTOPS*/
/*******************************/

@media (max-width: 84em) {
  .work-type {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  .work-description {
    font-size: 1.6rem;
    margin-bottom: 6.4rem;
    line-height: 1.6;
  }

  .work-link:link,
  .work-link:visited {
    font-size: 1.6rem;
  }
}

/*******************************/
/* BELOW 1200PX (LANDSCAPE TABLETS)*/
/*******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/*******************************/
/* BELOW 1024PX (LANDSCAPE TABLETS)*/
/*******************************/

@media (max-width: 65em) {
  .work-type {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .work-description {
    font-size: 1.4rem;
    margin-bottom: 4.8rem;
    line-height: 1.6;
  }

  .work-link:link,
  .work-link:visited {
    font-size: 1.4rem;
  }
}

/*******************************/
/* BELOW 944PX (PORTRAIT TABLETS)*/
/******************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .section-hero {
    padding: 9.6rem 9.6rem 12.8rem 9.6rem;
  }
  .section-work {
    padding: 2.4rem;
  }

  .section-about {
    padding: 4.8rem 1.6rem 4.8rem;
    /* margin-bottom: 4rem; */
  }

  /* .heading-tertiary {
    font-size: 2rem;
    margin-bottom: 3.6rem;
  }

  .work-description {
    margin-bottom: 3.6rem;
  } */
}

/*******************************/
/* BELOW 800PX (SMALL TABLETS)*/
/******************************/

@media (max-width: 50em) {
  .section-hero {
    padding: 6.4rem 6.4rem 9.6rem 6.4rem;
  }

  .project {
    grid-template-columns: 1fr 2fr;
  }

  .project-2 {
    grid-template-columns: 1.8fr 1fr;
  }
}

/*******************************/
/* BELOW 744PX (SMALL TABLETS)*/
/******************************/

@media (max-width: 47em) {
  .work-title {
    font-size: 2rem;
    margin-bottom: 3.2rem;
  }

  .hero {
    max-width: 160rem;
    gap: 2rem;
  }

  .hero-img {
    max-width: 24rem;
    max-height: 24rem;
  }

  .hero-text {
    margin-top: 2.4rem;
  }

  .hello {
    font-size: 6.4rem;
    margin-bottom: 2.4rem;
  }

  .introduction-text {
    font-size: 2.4rem;
    line-height: 1.4;
  }

  .work-type {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .work-description {
    font-size: 1.4rem;
    margin-bottom: 3.6rem;
    line-height: 1.6;
  }

  .work-link:link,
  .work-link:visited {
    font-size: 1.2rem;
  }

  .about {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/*******************************/
/* BELOW 544PX (PHONES)*/
/******************************/
@media (max-width: 34em) {
  .container {
    padding: 0 2.4rem;
  }

  .header {
    padding: 0 2.4rem;
  }

  .btn-mobile-nav {
    display: block;
  }

  .nav {
    background-color: #f4f4f46c;

    top: 0;
    transform: translateY(140%);

    right: 0;
    position: absolute;
    width: 20%;
    height: 12.8rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
  }

  .nav-list {
    margin-left: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .nav-list {
    gap: 1rem;
  }

  .section-hero {
    padding: 3.2rem 3.2rem 6.4rem 3.2rem;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
  }

  .hero-img {
    justify-self: center;
  }

  .hero-img img {
    display: none;
  }

  .photo {
    width: 100%;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }
  .hello {
    font-family: "Rubik", sans-serif;
  }

  .introduction-text {
    margin-right: 4.8rem;
  }

  .text-row-middle {
    margin-left: 1.8rem;
  }

  .text-row-last {
    margin-left: 2.4rem;
  }

  /* .hero-text {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
    color: #f1f1f1;
    margin-left: 0;
    align-items: center;
  }
  .hello {
    display: none;
  }

  .hi {
    display: block;
    font-family: "Rubik" sans-serif;
    font-size: 6.4rem;
    margin-bottom: 2.4rem;
    margin-right: 0;
  }

  .introduction-text {
    display: inline-block;
    text-align: center;
    letter-spacing: 0.7;
    margin-right: 0;
  } */
  .section-work {
    padding: 2.4rem 0 0;
    /* background-color: #eb984e; */
  }

  .project {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 9.6rem;
    background-color: #e5e5e5;
    padding: 0;
  }
  .project-img {
    padding: 4.8rem 4.8rem 2.4rem;
  }

  .project-text {
    grid-row: 2 /3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50fr, 40fr;
    padding: 2.4rem;
  }

  .work-title,
  .work-type {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
  }

  .work-title {
    line-height: 1.6;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .work-type {
    margin-top: 4.8rem;
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .work-description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

  .work-link:link,
  .work-link:visited {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    align-self: center;
    margin-top: 2.4rem;
  }
  .footer {
    background-color: #fff;
    padding: 2.4rem 0;
  }

  .footer-nav {
    display: flex;
    gap: 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  }

  /* .project-text {
    grid-row: 2 /3;
    padding: 3.2rem;
  }
  .work-description {
    font-size: 1.6rem;
  }

  .footer {
    background-color: #fff;
    padding: 2.4rem 0;
  }

  .footer-nav {
    display: flex;
    gap: 2rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.4rem;
  } */

  .about {
    grid-template-columns: 1fr;
    font-size: 1.8rem;
    line-height: 1.6;
    gap: 3.2rem;
  }

  .aside {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 3.2rem;
  }
}

/*

-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 /

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 /
*/
